*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(28, 34, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}
.face{
    height: 500px;
    width: 500px;
    background-color: #fff;
    /* border: 1px solid red; */
    box-shadow: 1px 1px 20px #716d6d;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}
.eye{
    height: 200px;
    width: 200px;
    /* background-color: blue; */
    border: 1px solid #ccc;
    box-shadow: 1px 1px 20px  #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pupil{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    /* animation: trans 2s linear infinite ; */
    /* animation-fill-mode: ; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
/* @keyframes trans {

        transform: translateY(-75px);
        /* transform: translateZ(300px) */
/* } */

